<?xml version="1.0"?>
 <robot name="arTag1">

    <link name="base_link">
     <collision>
        <geometry>
                <box size="0.25 0.25 1"/>
            </geometry>
    </collision>
    <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.015" iyy="0.0375" izz="0.0375" ixy="0" ixz="0" iyz="0"/>
        </inertial>    
        <visual>
            <geometry>
                <mesh filename="package://awesomo/meshes/real_ar1.dae"/> 
            </geometry>
        </visual>

    </link>

    <gazebo reference="arTag1">
        <kp>100000.0</kp>
        <kd>100000.0</kd>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <fdir1>1 0 0</fdir1>
    </gazebo>
</robot>